In [14]:
import pandas as pd
import geopandas as gd
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [15]:
df = pd.read_csv('./data/DEC16 LACMTA Stop Patronage (March, 2017 Bus Data - FY16 Rail Data).csv')

/Users/hunterowens/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (24,42,43,44,45,46,54,59,60,61,62,71,77,78,80,86,87,90,91,92,93,106,107,108,109,110,124,125,126,138,139,140,141,154,155,156,157,170,171,172,173,174,188,190,191,194,198,205,206,207,211,215,222,223,224,226,227,230,231) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
df.columns

Index(['Geometry', 'Stopnum', 'StopName', 'lat', 'long', 'muni', 'LA_CCD',
       'SUPD', 'zip', 'neighborhood',
       ...
       'ACT.7', 'ACT.8', 'ACT.9', 'ACT.10', 'ACT.11', 'ACT.12', 'ACT.13',
       'ACT.14', 'ACT.15', 'ACT.16'],
      dtype='object', length=234)

In [17]:
total_weekday_boardings = pd.to_numeric(df.All_DX_ACT.apply(lambda x: x.replace(',','')))

In [43]:
l

NameError: name 'l' is not defined

In [1]:
import fiona

In [26]:
import geopandas as gpd

In [34]:
gpd.read_file('./data/Individuals1216/68.shp')

,VAR_DESCR,VAR_DIREC,VAR_IDENT,VAR_ROUTE,geometry
0,MAPLOT - ELAC T. CENTER,2,E1,68,"LINESTRING Z (-118.249134 34.042351 0, -118.24..."
1,MONTEBELLO,2,E2,68,"LINESTRING Z (-118.186677 34.040515 0, -118.18..."
2,CESATL P-IN AND INDSTA,2,E3,68,"LINESTRING Z (-118.186677 34.040515 0, -118.18..."
3,ELAC T. CENTER - MAPLOT,3,W1,68,"LINESTRING Z (-118.145944 34.03997 0, -118.146..."
4,MONTEBELLO,3,W2,68,"LINESTRING Z (-118.084405 34.034343 0, -118.08..."
5,INDSTA,3,W3,68,"LINESTRING Z (-118.192373 34.034046 0, -118.19..."
6,6THLOS,3,W5,68,"LINESTRING Z (-118.225307 34.054145 0, -118.22..."